<head th:fragment="headFragment">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title th:include=":: #pageTitle">SpringWeather App</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "bootstrap": "https://unpkg.com/bootstrap",
                "@popperjs/core": "https://unpkg.com/@popperjs/core"
            }
        }
    </script>
    <script type="module">
        import 'bootstrap';
    </script>
	<base href="/" />
</head>