<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <div class="container">
            <a class="navbar-brand display-1" href="/">Spring Weather</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#resNav" aria-controls="resNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="resNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/city}">City Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/coord}">Coordinate Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>