<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Coordinate Search</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css" />
        <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="#" th:action="@{/coord}" th:object="${coordForm}" method="post">
                <table class="simple-form">
                    <tr>
                        <td>Latitude:</td>
                        <td><input type="number" step="0.01" th:field="*{lat}" /></td>
                        <td th:if="${#fields.hasErrors('lat')}" th:errors="*{lat}">Error</td>
                    </tr>
                    <tr>
                        <td>Longitude:</td>
                        <td><input type="number" step="0.01" th:field="*{lon}" /></td>
                        <td th:if="${#fields.hasErrors('lon')}" th:errors="*{lon}">Error</td>
                    </tr>
                    <tr>
                        <td><button type="submit">Submit</button><button type="reset" value="reset">Reset</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>